<div class="wine" layout="row" layout-align="start start">
  <div class="wine__info" layout="row" layout-align="start start">
    <span class="wine__label">NAME: </span>
    <span class="wine__value">{{::vm.wine.name}}</span>
  </div>
  <div class="wine__info" layout="row" layout-align="start start">
    <span class="wine__label">PRICE: </span>
    <span class="wine__value">{{::vm.wine.price}}</span>
  </div>
  <div class="wine__info" layout="row" layout-align="start start">
    <span class="wine__label">VINYARD: </span>
    <span class="wine__value">{{::vm.wine.vinyard}}</span>
  </div>
  <div class="wine__info" layout="row" layout-align="start start">
    <span class="wine__label">YEAR: </span>
    <span class="wine__value">{{::vm.wine.year}}</span>
  </div>
</div>
